 <% content_for :title,'new comments' %>
 <!--<table>-->
 <!-- <tr>-->
 <!--   <th>News</th>-->
 <!-- </tr>-->
<% if @comments != nil %>
 <h1>Comments</h1>
 <% @tencomments = @comments[0,10] %>
 <% @tencomments.each do |comment| %>
  <div>
   <hr size = "10">
   <p> by 
    <% if @users != nil %>
     <% @users.each do |user| %>
       <% if(user.id.to_i == comment.user_id.to_i)%>
         <%= user.username%>
       <% end %>
     <% end %>
    <% end %> | 
     on <%= comment.created_at.in_time_zone("Melbourne") %> | On: 
    <%  parent = Item.select(:id).where(:id => comment.news_id).pluck(:content).to_s %>
    <%  parent = parent.delete "[\"" %>
    <%  parent = parent.delete "\"]" %>
    
    <% if(parent.size > 30) 
      over30 = true 
    end %>
    <%= parent[0,30] %>
    <% if(over30 == true)%>
     ...
    <% end %>
   </p>
     <h4><%= comment.content %></h4>
  </div>
  
 <% end %>
<% end %>
  <!--</table>-->