<% content_for :title, "About"%>

<h1>Welcome to about page</h1>

  <table>
  <tr>
    <th>Name</th>
    <th>Student Number</th>
  </tr>
  <tr>
   <td>Hassen Mender </td>
   <td> - s3599135</td>
  </tr>
  <tr>
   <td>Jarry Chen </td>
   <td>- s3600396</td>
  </tr>
  
  <div>
   <a href="https://rad-2-clone.herokuapp.com"> Heroku URL</a>
  </div>
  <div>
   <a href="https://bitbucket.org/s3599135/rad18_assign_2_group_s3600396_s3599135"> BitBucket URL</a>
  </div>
  <div>
   <h2>Group memebrs</h2>
  </div>
</table>

 