
<table>
  <tr>
    <th>News</th>
  </tr>
  <%= @comments.each do |comment| %>
    <tr>
      
      <td><%= comment.id %></td>
      <td><%= comment.content %></td>
      
    </tr>
    
  <% end %>
</table>